Add a new landmark!<p>
<form method='post' action='/landmarks'>
Landmark name: <input type='text' name='landmark[name]' id='landmark_name'><p>
Landmark year completed: <input type='text' name='landmark[year_completed]' id='landmark_year_completed'>
<input type='submit' value='Create New Landmark'>
</form>

